body {
    margin: 0;
}

.wrapper {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}

.square {
    position: absolute;
    width: 50%;
    height: 50%;
    margin: 25%;
    background: #00a2ff;
    z-index: 15;
}
.square:hover {
    background: #042639;
    z-index: 25;
}

.circle {
    position: absolute;
    width: 26%;
    height: 26%;
    border-radius: 50%;
    background: #ee220c;
    z-index: 10;
}

.circle:hover {
    z-index: 25;
}

.top-left {
    top: 13%;
    left: 13%;
}

.top-right {
    top: 13%;
    right: 13%;
}

.top-left:hover {
    background: #48fe09;
}

.top-right:hover {
    background: #fef409;
}

.bottom-left {
    left: 13%;
    bottom: 13%;
}
.bottom-right {
    right: 13%;
    bottom: 13%;
}

.bottom-left:hover {
    background: #ec09fe
}

.bottom-right:hover {
    background: #51035c;
}

.square-inner {
    position: absolute;
    width: 20%;
    height: 20%;
    margin: 40%;
    background: #f8ba00;
    border-radius: 10px;
    z-index: 20;
}